ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}

ul li.rightAnswer:before {
    content: "✓";
	position: absolute;
	left: 0;
    color: #00aa00;
}

ul li.wrongAnswer:before {
    content: "✘";
	position: absolute;
	left: 0;
    color: #aa0000;
}
