/* @import url('https://getbootstrap.com/dist/css/bootstrap.css'); */

html, body, .container, .container-fluid {
  height: 95% !important; 
}

textarea.form-control {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  /* font-family: 'Courier New', Courier, monospace;
  font-size: small; */
  /* line numbers break when wrapping happens */
}

textarea.form-control#gift {
  /* white-space: nowrap;   */
  overflow: auto;
  /* background-image: linear-gradient(#F1F1F1 50%, #F9F9F9 50%);
  background-size: 100% 4rem;
  line-height: 2rem; */
}

/* .err {
  display: inline-block;
  position:relative;
  background: url(http://i.imgur.com/HlfA2is.gif) bottom repeat-x;
} */

.syntax-error {
/*  border-bottom:2px dotted red; */
  display: inline-block;
  position: relative;
}

.syntax-error:before {
  content: "~~~~~~~~~~~~";
  font-size: 0.6em;
  font-weight: 700;
  font-family: Times New Roman, Serif;
  color: red;
  width: 100%;
  position: absolute;
  top: 12px;
  left: -1px;
  overflow: hidden;
}

.guttererrormarker {
  width: 1em;
}