@import url('http://getbootstrap.com/dist/css/bootstrap.css');

html, body, .container {
  height: 95%;
}

textarea.form-control {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  /* font-family: 'Courier New', Courier, monospace;
  font-size: small; */
  /* line numbers break when wrapping happens */
}

textarea.form-control#gift {
  white-space: nowrap;  
  overflow: auto;
}
